@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
.bg-game {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    width: 100vw;
    /*background-color: #c9a3a3;*/
    background: linear-gradient(-45deg, #d96f4f, #2f935b, #23a6d5, #b5be4a);
    background-size: 400% 400%;
    -webkit-animation: gradient 7s ease infinite;
    animation: gradient 7s ease infinite;
}
.title-game{
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    margin-bottom: 10%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
