.bomb_area {
    position: relative;
    width: 35px;
    height: 35px;
}

.count-text {
    position: relative;
    color: #1c1b1b;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.count-text span{
    font-weight: 900;
    font-size: 18px;
    background-color: #d2d2d2;
    width: 100%;
    text-align: center;
    height: 100%;
}

.none-bg {
    border: 3px outset #5e5c5c;
    background-image: none;
    background-color: #807c7c;
}
.visible-bg {
    font-size: 15px;
    border: 3px outset #5e5c5c;
    background-image: none;
    background-color: #f9f3f3;
    color: black;
}

.bomb-bg {
    background-image: url("../../img/bomb.png");
    background-size: 100% 100%;
    background-color: #ab0e0e;
    border: 3px outset #5e5c5c;
}

.flag-bg {
    background-image: url("../../img/flag.png");
    background-size: 100% 100%;
    border: 3px outset #5e5c5c;
    background-color: #2a808e;
}

@media screen and (max-width: 800px) {
    .bomb_area {
        position: relative;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 600px) {
    .bomb_area {
        position: relative;
        width: 27px;
        height: 27px;
    }
    .count-text span {
        font-size: 14px;
    }
}
@media screen and (max-width: 500px) {
    .bomb_area {
        position: relative;
        width: 24px;
        height: 24px;
    }
    .count-text span {
        font-size: 12px;
    }
}

