<div id="gameZone" class="">
    <div class="head-game" class="row">
        <div class="col-6">
            <div class="status-game">
                <span id="status-game">Start New Game</span>
            </div>
        </div>
        <div class="col-6">
            <div class="bomb-left float-end">
                <span id="bomb-left">32</span>
            </div>
        </div>
    </div>
    <div class="d-flex flex-grow-1" *ngFor="let row_bombs of [].constructor(sizeGame); let x = index">
        <div class="d-flex flex-grow-1" *ngFor="let column_bomb of [].constructor(sizeGame); let y = index">
            <app-bomb [position]="[x, y]" (EventOnLeftClick)="leftClickElem($event)"
                      (EventOnRightClick)="rightClickElem($event)">
            </app-bomb>
        </div>
    </div>
</div>
